<table class="table table-condensed">
    <thead>
    <tr>
        <th>
            <a href="" ng-click="sortField = 'name'; reverse=!reverse">Name</a>
        </th>
        <th>
            <a href="" ng-click="sortField = 'description'; reverse=!reverse">Description</a>
        </th>
        <th>
            <a href="" ng-click="sortField = 'price'; reverse=!reverse">Price</a>
        </th>
        <th>
            <a href="" ng-click="sortField = 'quality'; reverse=!reverse">Quality</a>
        </th>
    </tr>

    <tr>
        <th><input class="form-control" ng-model="queryName.name" type="text"/></th>
        <th><input class="form-control" ng-model="queryName.description" type="text"/></th>
        <th><input class="form-control" ng-model="queryName.price" type="text"/></th>
        <th><input class="form-control" ng-model="queryName.quality" type="text"/></th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="item in items | filter:queryName | orderBy:sortField:reverse">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quality}}</td>
    </tr>
    </tbody>
</table>